---
# Only the main Sass file needs front matter 
# Import all bs and custom scss
---

// google font import
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap);

// imports
@import "variables";
@import "bootstrap";

@import "custom";
