
<section class="bg-dark">
	<div class="container">
		<h1 class="text-light">{{ site.data.homepage.subtitle }}</h1>
		<h2 class="text-light">{{ site.data.homepage.text }}</h2>
	</div>
</section>
{% for section in site.data.homepage.sections %}
{% capture bgcycle %}{% cycle 'bg-light', 'bg-dark' %}{% endcapture %}
{% capture textcycle %}{% cycle 'text-dark', 'text-light' %}{% endcapture %}
<section class="{{ bgcycle }}">
	<div class="container">
		<div class="{{ textcycle }}">
			<div class="">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-{{ section.icon }} fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<h3 class="{{ textcycle }}">{{ section.title }}</h3>
			<a class="anchorjs-link {{ textcycle }}" aria-label="Anchor" data-anchorjs-icon="" href="#{{ section.title | slugify | downcase }}" style="font: 1em / 1  anchorjs-icons; padding-left: 0.375em;"></a>
			<p class="py-0 {{ textcycle }}">{{ section.text }}</p>
			<a href="{{section.url}}" class="btn btn-primary">{{section.linktext}}</a>
		</div>
	</div>
</section>
{% endfor %}
