
<section class="bg-dark">
	<div class="container">
		<h1 class="text-light">{{ site.data.homepage.subtitle }}</h1>
		<h2 class="text-light">{{ site.data.homepage.text }}</h2>
	</div>
</section>
{% for section in site.data.homepage.sections %}
{% capture bgcycle %}{% cycle 'bg-light', 'bg-dark' %}{% endcapture %}
{% capture textcycle %}{% cycle 'text-dark', 'text-light' %}{% endcapture %}
<section class="{{ bgcycle }}">
	<div class="container">
		<div class="{{ textcycle }}">
			<h2 class="text-center {{ textcycle }}">{{ section.title }}</h2>
			<a class="anchorjs-link {{ textcycle }}" aria-label="Anchor" data-anchorjs-icon="" href="#{{ section.title | slugify | downcase }}" style="font: 1em / 1  anchorjs-icons; padding-left: 0.375em;"></a>
			<p class="py-0 {{ textcycle }}">{{ section.text }}</p>
			<div class="d-flex justify-content-between align-items-stretch">
			{% for tile in section.tiles %}
				<div class="card flex-auto flex-sm-25">
					<div class="card-img-top">
						<i class="fa fa-{{ tile.icon }}"></i>
					</div>
					<div class="card-body">
						<h3 class="card-title"><a href="{{tile.url}}" class="btn btn-primary">{{tile.title}}</a></h3>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endfor %}
