<section class="intro">
	<h1 class="intro-title">{{ hubdata.title }}</h1>
	<div class="intro-text">
		<p>{{hubdata.text}}</p>
	</div>
</section>
<section class="tiles">
<div class="d-flex flex-row flex-wrap m-0 p-0 justify-content-start align-items-stretch">
{% for tile in hubdata.tiles %}
	<div class="hub-link card text-left p-0">
		<div class="card-body">
			<div class="d-flex flex-column justify-content-start align-items-start ">
				<a href="{{tile.url | slugify | downcase}}" class="p-0 m-0  btn btn-icon btn-primary">
					<img class="img-icon" src="/assets/icons/{{ tile.icon }}.png" alt="{{ tile.title }} icon"/>
				</a>
				<h3 class="card-title my-3 p-0">{{ tile.title  }}</h3>
				<p class="p-0 ">{{ tile.text }}</p>
			</div>
		</div>
	</div>
{% endfor %}
</div>
</section>
