{% assign currentcategory = page.category %}
<section class="intro">
	<div class="intro-text">
		<p>{{hubdata.text}}</p>
	</div>
</section>
<section class="tiles">
	<div class="d-flex flex-row flex-wrap m-0 p-0 justify-content-start align-items-stretch">
	{% for docpage in site.pages %}
			{% for tag in docpage.tags %}
				{% if tag == "connector" %}
				{% for cat in docpage.categories %}
				{% if cat == currentcategory %}
		<div class="icon-link card text-center p-0 m-4">
			<div class="card-body">
				<a href="{{docpage.permalink}}" class="btn-icon p-0 m-0">
					<img class="img-icon" src="{{ docpage.icon }}" alt="{{ docpage.title }} icon"/>
				</a>
			</div>
		</div>
				{% endif %}
				{% endfor %}          
				{% endif %}
			{% endfor %}          
	{% endfor %}
	</div>
</section>


