{% if menu %}
{% if menuid %}
<ul id="{{menuid}}" class="list-unstyled menulevel-{{menulevel}}">
{% else %}
<ul>
{% endif %}
{% for item in menu %}
  {% if page.url == item.url %}
  {% capture itemclass %}class="active"{% endcapture %}
  {% else %}
  {% capture itemclass %}{% endcapture %}
  {% endif %}
  <li {{itemclass}}>
    {% if item.toggleonly %}
    <a class="menu-toggle" title="{{ item.title }}">{{ item.title }}</a>
    {% else %}
      {% if item.externalurl %}
    <a class="menu-link" target="_blank" href="{{ item.externalurl }}" title="{{ item.title }}">{{ item.title }}</a>
      {% else %}
    <a class="menu-link" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      {% endif %}
    {% endif %}
    {% if item.children %}
      {% assign menu = item.children %}
      {% assign menuid = false %}
      {% include v2/generic/menu.html %}
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}