{% assign sidebar = site.data.sidebars[page.sidebar] %}
{% assign docversion = sidebar.docversion %}
{% assign menu = site.menus.mainmenu %}
{% assign menuid = "mysidebar" %}
{% assign menulevel = 0 %}
{% include /v2/generic/menu.html %}
<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>
    $("li.active").parents('li').toggleClass("active");
</script>