/*
 * custom styles
 */
::-webkit-input-placeholder { /* Edge */
  color: $placeholder-color;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: $placeholder-color;
}

::placeholder {
  color: $placeholder-color;
}

.w-auto {
    width: auto;
}

// negative margins based on bs

.mx-n1 {
  margin-right: -0.25rem !important;
  margin-left: -0.25rem !important;
}

.mx-n2 {
  margin-right: -0.5rem !important;
  margin-left: -0.5rem !important;
}

.mx-n3 {
  margin-right: -1rem !important;
  margin-left: -1rem !important;
}

.mx-n4 {
  margin-right: -1.5rem !important;
  margin-left: -1.5rem !important;
}

.mx-n5 {
  margin-right: -3rem !important;
  margin-left: -3rem !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}


.icon-primary {
    color: $red;
}

.icon-xxl {
    font-size: 108px;
}

.bg-dark {
    background-color: $dark;
    color: $body-color-light;
    h1,h2,h3,h4,h5,h6 {
        color: $body-color-light;
    }
    p, dl, ol, ul {
        color: $body-color-light;
    }
    a {
     color: $link-color-light;
    }
}

.bg-light {
    background-color: $white;
    color: $body-color;
    h1,h2,h3,h4,h5,h6 {
        color: $body-color;
    }
    p, dl, ol, ul {
        color: $body-color;
    }
    a {
     color: $link-color;
     &.btn  {
        color: $body-color-light;
     }
    }
}

.bg-transparent {
    background-color: transparent !important;
}

.text-secondary {
    color: $text-secondary;
}

.weight-400 {
    font-weight: 400;
}

.weight-600 {
    font-weight: 400;
}

.weight-700 {
    font-weight: 400;
}

.hero {
    h1 {
        text-transform: $hero-text-transform-h1;
        font-size: $hero-font-size-h1;
        font-weight: $hero-font-weight-h1;
        line_height: $hero-text-transform-h1;

    }
    h2 {
        text-transform: $hero-text-transform-h2;
        font-size: $hero-font-size-h2;
        font-weight: $hero-font-weight-h2;
        line_height: $hero-text-transform-h2;

    }
}

.intro {
    font-size: $font-size-h4;
    line-height: 39px;
}

.card {
    height: 273px;
    border: 1px solid rgba(51, 59, 70, 0.3);
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    background: $gray-100;
    .bg-dark & {
        border-color: $dark;
        box-shadow: none;
    }
    &.hub-link {
        flex: 0 0 254px;
        .card-body {
            padding: 30px 40px;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
        }
        .btn-icon {
            border-radius: 10px;
            height: 85px;
            width: 85px;
        }
        .img-icon {
            margin: 10%;
            width: 80%;
            height: auto;
        }
        .card-title {
            flex: 0 0 2em;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
        }
    }
    &.icon-link {
        flex: 0 0 20%;
        height: auto;
        position: relative;
        display: block;
        .img-icon {
            width: 80%;
            height: auto;
            padding: 10%;
        }
        .icon-link-title {
            opacity: 0;
            background: rgba(255,255,255,0);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.5s;
            margin: 0;
            padding: 20px;
            font-size: 18px;
            line-height: 20px;
        }
        &:hover, &:active, , &:focus {
            .icon-link-title {
                opacity: 1;
                background: rgba(255,255,255,0.5);
           }
        }
    }
    &.card-noborder {
        border: 0;
        box-shadow: none;
    }
}

.card-body {
    display: block;
    position: relative;
    border-radius: inherit;
    .bg-dark & {
        > div:first-child {
            border-radius: 10px 10px 0 0;
        }
    }
    &.h-100 {
        height: 100%;
    }
    a.btn {
        display: block;
        margin: 0;
        padding: 0 20px;
        border-radius: 0 0 10px 10px;
        font-size: $font-size-h5;
        line-height: 22px;
        font-weight: 600;
        height: 5em;
        white-space: normal;
        .bg-dark & {
            color: $white;
        }
    }
    .anchorjs-link {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

.btn-cta {
    @include button-variant($gray-800, $yellow, $yellow);
    border-radius: 75px;
    font-weight: 700;
    font-size: $font-size-h3;
    line-height: 34px;
    padding: 14px 92px;
    .bg-dark & {
        color: $gray-800;
    }
}

a.btn.btn-primary {
    .hubtable & {
        border-radius: 59px;
        padding: 6px 25px;
        font-weight: 700;
        margin: 0 35px;
    }
}

.flex-30 {
    flex: 0 0 30%;
}
.flex-50 {
    flex: 0 0 50%;
}

a[data-toggle="tooltip"] {
    text-decoration: underline;
    font-style: normal;
    font-weight: 600;
    color: $link-color;
    cursor: pointer;
}
// layout
body {
    padding-top: $navbar-height;
    min-height: 100vh;
}

.img-fluid {
    max-width:  100%;
    max-height: 100%;
}

section {
    &.tiles {
    }
}
// navbar
.navbar {
    height: $navbar-height;
    padding: 0 $sidebar-nav-spacing;
    .logo {
        padding: $sidebar-nav-spacing 0;
        .img-responsive {
            height: calc(#{$navbar-height} - (#{$sidebar-nav-spacing}*2));
            width: auto;
        }
    }
    .navbar-nav {
        li {
            font-size: $navbar-font-size;
            line-height: $navbar-line-height;
            font-weight: $navbar-font-weight;
            font-style: $navbar-font-style;
            a {
                font-size: $navbar-font-size;
                line-height: $navbar-line-height;
                font-weight: $navbar-font-weight;
                font-style: $navbar-font-style;
                &:hover {
                
                }
                &:active {
                
                }
            }
        }
    }
}
// navbar dropdown 
.navbar .navbar-nav {
    .dropdown {
        position: relative;
        .dropdown-menu {
            margin: 0;
            padding: 0;
            background: black;
            li {
                border-bottom: 1px solid white;
                &:last-child {
                    border-bottom: 0;
                }
                a {
                    padding: 20px 40px;
                    color: white;
                }
                img {
                    height: 30px;
                    width: auto;
                    padding: 0 20px 0 0;
                }
            }
        }
    }
}
// search 
#search-container {
    ul#results-container {
    }
    #search-input {
        background-color: $search-input-bg;
        color: $search-input-color;
        font-size: $search-input-font-size;
        font-weight: $search-input-font-weight;
        line-height: $search-input-line-height;
        border-radius: $search-input-border-radius;
        width: 100%;
    }
}
// algolia earch 
.algolia-autocomplete {
    display: block;
    width: 100%;
    .algolia-docsearch-footer--logo,
    .ds-dropdown-menu .ds-suggestions {
        background-color: $white;
        &:hover {
            background-color: $white;
        }
    }
}
// sidebar
aside.sidebar {
    background-color: $sidebar-bg;
    color: $sidebar-color;

}
ul#mysidebar {
    border-radius: 0;
    background-color: transparent;
    padding: 10px 0;
    li {
        background-color: transparent;
        color: $sidebar-color;
        font-size: $sidebar-font-size;
        font-weight: $sidebar-font-weight;
        line-height: $sidebar-line-height;
        a {
            background-color: transparent;
            border-color: $sidebar-link-border-color;
            border-width: $sidebar-link-border-width;
            color: $sidebar-link-color;
            font-size: $sidebar-font-size;
            font-weight: $sidebar-font-weight;
            line-height: $sidebar-line-height;
            padding: 15px 25px;
            &:hover {
                color: $sidebar-link-color-hover;
            }
            &:active,
            &.active {
                color: $sidebar-link-color-active;
            }
            &.menu-toggle {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        ul {
            list-style-type: none;
            margin: 0 0 0 25px;
            padding: 0;
            li {
                font-size: $sidebar-submenu-font-size;
                font-weight: $sidebar-submenu-font-weight;
                line-height: $sidebar-submenu-line-height;
                padding: 0;
                margin: 0;

                a {
                    font-size: $sidebar-submenu-font-size;
                    font-weight: $sidebar-submenu-font-weight;
                    line-height: $sidebar-submenu-line-height;
                    padding: 10px 0 10px 25px;
                    display: block;
                    position: relative;
                    &.menu-toggle {
                        &:after {
                            content: "\f0da";
                            font-family: "Font Awesome 6 Free";
                            font-weight: $sidebar-font-weight;
                            font-size: $sidebar-font-size;
                            line-height: $sidebar-line-height;
                            position: absolute;
                            display: block;
                            left: 0;
                            right: unset;
                            top: 10px;
                            pointer-events: none;
                            transition: transform 0.5s
                        }
                    
                    }
                    &.menu-link {
                        &:after {
                            content: "\f111";
                            font-family: "Font Awesome 6 Free";
                            font-weight: $sidebar-font-weight;
                            font-size: 10px;
                            line-height: $sidebar-line-height;
                            position: absolute;
                            display: block;
                            left: 0;
                            top: 10px;
                            pointer-events: none;
                            transition: transform 0.5s
                        }
                    
                    }
                }
                &.active {
                    > a.menu-toggle:after {
                        transform: rotate(90deg)
                    }
                }
            }
        }
        &.active {
            > a.menu-link {
                text-decoration: underline;
            }
        }
    }
    > li {
        > a {
            display: block;
            position: relative;
            &:after {
                content: "\f0d9";
                font-family: "Font Awesome 6 Free";
                font-weight: $sidebar-font-weight;
                font-size: $sidebar-font-size;
                line-height: $sidebar-line-height;
                position: absolute;
                display: block;
                right: $sidebar-nav-spacing;
                top: 10px;
                pointer-events: none;
                transition: transform 0.5s
            }
        }
        &.active {
            > a:after {
                transform: rotate(-90deg)
            }
        }
    }
}

// main container
main.container {
    font-size: $content-font-size;
    line-height: $content-line-height;

    table {
        th, 
        &.vheader tr td:first-child {
            background: $gray-700;
            color: $white;
            border: 0;
            padding: 10px 8px;
            font-size: 17px;
            font-weight: 700;
            line-height: 20px;
            border-left: 1px solid $white;
            &:first-child {
                border-left: 0;
            }
        }
        &.vheader tr td:first-child {
            border-bottom: 1px solid $white;
        }
        td {
            background: $white;
            font-size: 16px;
            line-height: 20px;
            border-bottom: 1px solid $gray-300;
            padding: 10px 8px;
            border-left: 1px solid $white;
            &:first-child {
                border-left: 0;
            }
        }
    }
}

// footer 
footer {
    background-color: $footer-bg;
    color: $footer-color;
    font-size: $footer-font-size;
    font-weight: $footer-font-weight;
    line-height: $footer-line-height;
    padding: $sidebar-nav-spacing;
    a {
        color: $footer-link-color;
        font-size: $footer-font-size;
        font-weight: $footer-font-weight;
        line-height: $footer-line-height;
        display: inline-block;
        &:hover {
            color: $footer-link-color-hover;
        }
    }
    .copyright {
        padding-top: $sidebar-nav-spacing;
    }
    .footer-links {
        flex-basis: 65%;
        li {
            flex-basis: 45%;
        }
    }
    .footer-logo {
        flex-basis: 35%;
    }
}   
// toc
#toc {
    background-color: $toc-color-bg;
    color: $toc-color;
    margin:40px 0;
    padding: $toc-spacing;
    ul {
        list-style: none;
        padding: 0;
        li {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            padding: 10px 0 10px 20px;
            a {
                color: $toc-color;
            }
        }
        > li {
            position: relative;
            padding-left: 20px;
            &:before {
                display: block;
                font-family: 'Font Awesome\ 6 Free';
                font-weight: 900;
                content: "\f0d9";
                position: absolute;
                left: 0;
                font-size: inherit;
                line-height: inherit;
                color: $toc-color;
            }
        }
        ul {
            margin: 0;
            padding: 0 0 0 $toc-spacing-h;
            > li {
                &:before {
                    content: "\f111";
                    font-size: 0.5em;
                }
            }
        }
    }
}
// highlight , code, pre content 
div {
    &.highlight.code {
        @include highlight-code();
    }
    pre.highlight {
        background: transparent;
        border: 0;
        padding: 0;
        margin: 0;
    }
}
// content
.post-content {
    margin-bottom: 6rem;
    img {
        max-width: 100%;
        height: auto;
    }
    > table {
        width: 100%;
        margin: 0 0 40px;
    }
    > pre {
        @include highlight-code();
    }
    // accordion 
    .accordion {
        .accordion-header {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            margin: 20px 0;
        }
        .accordion-body {
            padding: 30px 0;
        }
    }
    h3 {
        margin: 2em 0 1em;
    }
    h4 {
        margin: 2em 0 1em;
    }
    section {
        margin: 0 0 40px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

}

section {
    .section-title {

    }
    &.required {
        .section-content {
            @include highlight-required();
        }
    }
}

// media queries
@media (min-width: $screen-sm-min) {
    .flex-sm-25 {
        flex: 0 0 25%;
    }
    .navbar .nav {
        float: none;
    }
}

@media (max-width: $screen-sm-max) {
    #mysidebar {
        position: relative;
        max-width: 100%;
    }
}

@media (min-width: $screen-md-min) {
    .img-fluid {
            max-width:  70%;
            max-height: 70%;
    }
    main.container,
    .footer-content.container {
        max-width: $content-width-max-md;
    }
    .layout-homepage {
        .footer-content.container {
            max-width: $content-width-max-md-nonav;  ;            
        }
    }
    .layout-page {
        .topnavlinks .container {
            max-width: $content-width-max-md;           
        }
    }
    nav.navbar {
        .logo {
            width: calc(#{$sidebar_width_media_md} - #{$sidebar-nav-spacing}) ;
            padding: $sidebar-nav-spacing 0;
        }
    }
    aside.sidebar {
        width: $sidebar_width_media_md;
        display: flex;
    }
    ul#mysidebar {
        position: fixed;
        height: $sidebar-height;
        width: $sidebar_width_media_md;
        top: $navbar-height;
        bottom: 0px;
        overflow-y: overlay;
        margin: 0;
        padding: $sidebar-nav-spacing $sidebar-nav-spacing 0 $sidebar-nav-spacing;
        li {
            margin: 0 0 $sidebar-nav-spacing;
            padding: 0;
            a {
                padding: 0;
                &:after {
                    right: 0;
                    top: 0;
                }
            }
        }
    }
    .card-body {
        a.btn {
            font-size: $font-size-h4;
            line-height: 29px;
            font-weight: 700;
            height: 3em;
        }
    }
}

@media (min-width: $screen-lg-min) {
    main.container,
    .footer-content.container  {
        max-width: $content-width-max-lg;
    }
    .layout-homepage {
        .footer-content.container {
            max-width: $content-width-max-lg-nonav;            
        }
    }
    .layout-page {
        .topnavlinks .container {
            max-width: $content-width-max-lg;           
        }
    }
    footer {
        .footer-links {
            flex-basis: auto;
            li {
            flex-basis: 32%;
            }
        }
        .footer-logo {
            flex-basis: auto;
        }
    }
}

@media (min-width: $screen-xl-min) {
    main.container,
    .footer-content.container  {
        max-width: $content-width-max-xl;
    }
    .layout-homepage {
        .footer-content.container {
            max-width: $content-width-max-xl-nonav;            
        }
    }
    .layout-page {
        .topnavlinks .container {
            max-width: $content-width-max-xl;           
        }
    }
}
