/*
 * custom styles
 */
::-webkit-input-placeholder { /* Edge */
  color: $placeholder-color;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: $placeholder-color;
}

::placeholder {
  color: $placeholder-color;
}

.w-auto {
    width: auto;
}

.bg-dark {
    background-color: $dark;
    color: $body-color-light;
    h1,h2,h3,h4,h5,h6 {
        color: $body-color-light;
    }
    p, dl, ol, ul {
        color: $body-color-light;
    }
    a {
     color: $link-color-light;
    }
}

.bg-transparent {
    background-color: transparent !important;
}

.hero {
    h1 {
        text-transform: $hero-text-transform-h1;
        font-size: $hero-font-size-h1;
        font-weight: $hero-font-weight-h1;
        line_height: $hero-text-transform-h1;

    }
    h2 {
        text-transform: $hero-text-transform-h2;
        font-size: $hero-font-size-h2;
        font-weight: $hero-font-weight-h2;
        line_height: $hero-text-transform-h2;

    }
}

.intro {
    font-size: $font-size-h4;
    line-height: 39px;
}

.card {
    height: 273px;
    border: 1px solid rgba(51, 59, 70, 0.3);
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    background: $gray-100;
    .bg-dark & {
        border-color: $dark;
        box-shadow: none;
    }
}

.card-body {
    display: block;
    position: relative;
    height: 100%;
    border-radius: inherit;
    .fa {
        color: $body-color;
    }
    a.btn {
        display: block;
        margin: 0;
        padding: 0 20px;
        border-radius: 0 0 10px 10px;
        font-size: $font-size-h4;
        line-height: 29px;
        font-weight: 700;
        height: 3em;
        white-space: normal;
        .bg-dark & {
            color: $white;
        }
    }
    .anchorjs-link {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

.btn-cta {
    @include button-variant($gray-800, $yellow, $yellow);
    border-radius: 75px;
    font-weight: 700;
    font-size: $font-size-h3;
    line-height: 34px;
    padding: 14px 92px;
    .bg-dark & {
        color: $gray-800;
    }
}

.flex-50 {
    flex: 0 0 50%;
}

.list-nostyle {
    list-style: none;
}

// navbar
.navbar {
    .navbar-nav {
        li {
            font-size: $navbar-font-size;
            line-height: $navbar-line-height;
            font-weight: $navbar-font-weight;
            font-style: $navbar-font-style;
            a {
                font-size: $navbar-font-size;
                line-height: $navbar-line-height;
                font-weight: $navbar-font-weight;
                font-style: $navbar-font-style;
                &:hover {
                
                }
                &:active {
                
                }
            }
        }
    }
}
// search 
#search-container {
    ul#results-container {
    }
    #search-input {
        background-color: $search-input-bg;
        color: $search-input-color;
        font-size: $search-input-font-size;
        font-weight: $search-input-font-weight;
        line-height: $search-input-line-height;
        border-radius: $search-input-border-radius;
        width: 100%;
    }
}

// algolia earch 
.algolia-autocomplete {
    display: block;
    width: 100%;
    .algolia-docsearch-footer--logo,
    .ds-dropdown-menu .ds-suggestions {
        background-color: $white;
        &:hover {
            background-color: $white;
        }
    }
}

// sidebar
#tg-sb-sidebar {
    background: transparent;
}

ul#mysidebar {
    border-radius: 0;
    background-color: $sidebar-bg;
    color: $sidebar-color;
    li {
        background-color: transparent;
        color: $sidebar-color;
        font-size: $sidebar-font-size;
        font-weight: $sidebar-font-weight;
        line-height: $sidebar-line-height;
        a {
            background-color: transparent;
            border-color: $sidebar-link-border-color;
            border-width: $sidebar-link-border-width;
            color: $sidebar-link-color;
            font-size: $sidebar-font-size;
            font-weight: $sidebar-font-weight;
            line-height: $sidebar-line-height;
            &:hover {
                color: $sidebar-link-color-hover;
            }
            &:active,
            &.active {
                color: $sidebar-link-color-active;
            }
        }
        ul {
            li {
                font-size: $sidebar-submenu-font-size;
                font-weight: $sidebar-submenu-font-weight;
                line-height: $sidebar-submenu-line-height;
                a {
                    font-size: $sidebar-submenu-font-size;
                    font-weight: $sidebar-submenu-font-weight;
                    line-height: $sidebar-submenu-line-height;
                }
            }
        }
    }
}

// footer {
footer {
    background-color: $footer-bg;
    color: $footer-color;
    font-size: $footer-font-size;
    font-weight: $footer-font-weight;
    line-height: $footer-line-height;
    a {
        color: $footer-link-color;
        font-size: $footer-font-size;
        font-weight: $footer-font-weight;
        line-height: $footer-line-height;
        display: inline-block;
        &:hover {
            color: $footer-link-color-hover;
        }
    }
}   

@media (min-width: $screen-sm-min) {
    .flex-sm-25 {
        flex: 0 0 25%;
    }
    .navbar .nav {
        float: none;
    }
}

@media (max-width: $screen-sm-max) {
    #mysidebar {
        position: relative;
    }
}

@media (min-width: $screen-md-min) {
    ul#mysidebar {
        width: 307px;
    }
}

@media (max-width: $screen-sm-max) {
    ul#mysidebar {
        max-width: 100%;
    }
}

