/* 
 * bootstrap and custom variables
 */

$font-family-sans-serif: 'Montserrat', Arial, sans-serif;

// colours
$red:					#E20B14;
$yellow:				#DCFF00;
$pink:					#E23653;
$white:                 #FFFFFF;
$gray-100:				#FDFCFC;
$gray-200:				#EAEAE9;
$gray-800:				#343B46;
$dark:					$gray-800;
$link-color:			$red;
$link-color-light:      $red;
$primary:               $red;
$secondary:             $yellow;

// typography
$h1-font-size:				36px;
$h2-font-size:				32px;
$h3-font-size:				28px;
$h4-font-size:				24px;
$h5-font-size:				18px;
$h6-font-size:				16px;
$headings-font-family: 		$font-family-sans-serif;
$headings-color:			$gray-800;

$body-color:				$gray-800;
$body-color-light:          $white;

@import "bootstrap/variables";