/* 
 * bootstrap and custom variables
 */

$font-family-sans-serif: 'Montserrat', Arial, sans-serif;

// colours
$red:					#E20B14;
$yellow:				#DCFF00;
$pink:					#E23653;
$white:                 #FFFFFF;
$gray-100:				#FDFCFC;
$gray-200:				#EAEAE9;
$gray-800:				#343B46;
$dark:					$gray-800;
$link-color:			$red;
$link-color-light:      $red;
$primary:               $pink;
$secondary:             $yellow;


$brand-primary:         $pink;
$brand-success:         $yellow;
$brand-info:            $pink;
$brand-warning:         $red;
$brand-danger:          $red;


// typography
$font-size-h1:				36px;
$font-size-h2:				32px;
$font-size-h3:				28px;
$font-size-h4:				24px;
$font-size-h5:				18px;
$font-size-h6:				16px;

$headings-font-family: 		$font-family-sans-serif;
$headings-color:			$gray-800;
$body-color:				$gray-800;
$body-color-light:          $white;

// spacing
$spacing-1:              16px;
$spacing-2:              18px;
$spacing-3:              24px;
$spacing-4:              28px;
$spacing-5:              32px;
$spacing-6:              36px;

@import "bootstrap/variables";


