<section class="hero bg-dark d-flex">
	<div class="container text-center p-0 w-auto d-flex flex-column">
		<h1 class="text-light mx-0 mt-0 mb-3 p-0 flex-grow-0 flex-shrink-1">{{ site.data.homepage.subtitle }}</h1>
		<h2 class="text-light mx-0 mt-3 mb-5 p-0 flex-grow-0 flex-shrink-1">{{ site.data.homepage.text }}</h2>
	{% if site.data.homepage.herosearch %}
		<div class="flex-grow-1 p-0 mx-0 mt-3 mb-5">
			{% include /generic/search.html %}
		</div>
	</div>
	{% endif %}
</section>
{% for section in site.data.homepage.sections %}
{% capture bgcycle %}{% cycle 'bg-light', 'bg-dark' %}{% endcapture %}
{% capture textcycle %}{% cycle 'text-dark', 'text-light' %}{% endcapture %}
<section class="{{ bgcycle }} py-4">
	<div class="container">
		<div class="{{ textcycle }}">
			<h2 class="text-center {{ textcycle }}">{{ section.title }}</h2>
			<div class="intro my-3">
				<p class="py-0 {{ textcycle }}">{{ section.text }}</p>
			</div>
			{% if section.cta-text %}
			<div class="text-center my-6">
				<a href="{{ section.cta-url }}" class="btn btn-cta">{{ section.cta-text }}</a>
			</div>
			{% endif %}
			<div class="d-flex justify-content-between my-5">
			{% for tile in section.tiles %}
				<div class="card flex-auto flex-sm-25 my-4">
					<div class="card-body d-flex flex-column">
						<div class="flex-grow-1 d-flex align-items-center justify-content-center">
							<i class="fa fa-{{ tile.icon }} fa-5x"></i>
						</div>
						{% if tile.externalurl %}
						<a href="{{tile.externalurl}}" target="_blank" class="btn btn-primary d-flex align-items-center justify-content-center">
							<span>{{tile.title}}</span>
						</a>
						{% else %}
						<a href="{{tile.url}}" class="btn btn-primary d-flex align-items-center justify-content-center">
							<span>{{tile.title}}</span>
						</a>
						{% endif %}
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endfor %}

