{% assign sidebar = site.data.sidebars[page.sidebar] %}
{% assign docversion = sidebar.docversion %}

<h4>docs {{docversion}}</h4>
<ul id="mysidebar" class="nav m-0 doc-{{docversion}}">
    <li class="sidebarTitle">{{sidebar.product}} {{sidebar.version}}</li>
    {% for folder in sidebar.folders %}
        {% capture docpath %}/{{docversion}}/{{folder.name}}{% endcapture %}
    <li>
        <a href="#">{{ folder.title }}</a>
        <ul>
        {% for page in site.pages %}
            {% if page.path contains docpath %}
            <li><a href="{{page.permalink}}">{{page.title}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
    </li>
    <!-- if you aren't using the accordion, uncomment this block:
         <p class="external">
             <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
         </p>
         -->    
</ul>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>
    $("li.active").parents('li').toggleClass("active");
</script>