<div class="post-header mt-4">
    <div class="d-flex flex-column justify-content-between">
        <div class="d-flex flex-row">
            <div class="col-2">
                <img class="img-fluid" src="{{ page.icon }}" alt="{{ page.title }} icon"/>
            </div>
            <div class="col-10">
                <h1 class="post-title-main">{{ page.title }}</h1>
                {% if connectordata.Description %}
                <p>{{ connectordata.Description }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include toc.html %}

{% if page.showv1content %}
	{% include v2/connector/v1content/{{v1content}} %}
{% endif %}

{% if connectordata.Authentication %}
<section class="authentication">
<h2>Authentication</h2>
<table class="table">
  <tbody>
	{% for prop in connectordata.Authentication %}
    <tr>
      <th>{{ prop[0] }}</th><td>{{ prop[1] | raw }}</td>
    </tr>
	{% endfor %}
  </tbody>
</table> 
</section>
{% endif %}

{% if connectordata.Documentation %}
	{% for section in connectordata.Documentation %}
		{% if section.Type %}
<section class="{{section.Type | slugify}}">
		{% else %}
<section>
		{% endif %}
<h2 class="section-title">{{ section.Title }}</h2>
<div class="section-content">
	{{ section.Content | raw }}
</div>
</section>
	{% endfor %}
{% endif %}

<section class="categories">
	<h2>Categories</h2>
	<ul>
	{% for category in connectordata.Categories %}
		<li><a href="{{category | slugify}}">{{ category }}</a></li>
	{% endfor %}
	</ul>
</section>

<section class="methods">
	<h2>API Methods</h2>
	<div class="no_toc_section">
		<div class="accordion accordion-flush no_toc_section" id="accordionFlushMethods">
		{% for category in connectordata.MethodCategories %}
			<div class="accordion-item">
			    <h3 class="accordion-header" id="flush-heading{{category.Category | slugify}}">
			    	<a data-toggle="collapse" data-parent="#accordionFlushMethods" href="#flush-collapse{{category.Category | slugify}}" aria-expanded="false" aria-controls="flush-collapse{{category.Category | slugify}}">
			    		{{category.Category}}
			    	</a>
			    </h3>
			    <div id="flush-collapse{{category.Category | slugify}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{category.Category | slugify}}" data-bs-parent="#accordionFlushMethods">
					<div class="accordion-body">
						<table class="table">
							<thead>
								<th>Feature</th>
								<th>Description</th>
								<th>Type</th>
							</thead>
							<tbody>
					{% for method in category.Methods %}
							<tr>
								<td class="name">{{ method.Name }}</td>
								<td class="description">{{ method.Description }}</td>
								<td class="type text-uppercase text-secondary weight-600">{{ method.MethodType }}</td>
							</tr>
					{% endfor %}
							</tbody>
						</table>
					</div>
			    </div>
		  	</div>
		{% endfor %}
		</div>
	</div>
</section>