<!DOCTYPE html>
<html>

<head>
    {% include v2/generic/head.html %}
    {% seo %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(document).ready(function() {
            $("#tg-sb-link").click(function() {
                $("#tg-sb-sidebar").toggle();
                $("#tg-sb-content").toggleClass('col-md-9');
                $("#tg-sb-content").toggleClass('col-md-12');
                $("#tg-sb-icon").toggleClass('fa-toggle-on');
                $("#tg-sb-icon").toggleClass('fa-toggle-off');
            });
        });
    </script>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
        $(document).ready(function () {
            $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
            $('table.display').DataTable({
                paging: true,
                stateSave: true,
                searching: true
            });
        });
    </script>
    {% endif %}

</head>
    {% if page.hide_sidebar == true %}
    {% assign sbclass='no-sb'%}
    {% else %}
    {% assign sbclass='sb'%}
    {% endif %}
    {% if page.layout == "homepage" %}
    {% assign containerclass=''%}
    {% else %}
    {% assign containerclass='container '%}
    {% endif %}

<body class="d-lg-flex flex-lg-column {{sbclass}} layout-{{page.layout}}">
    {% include v2/generic/topnav.html %}
    <div class="flex-grow-1 flex-shrink-0 d-lg-flex">
        {% unless page.hide_sidebar == true %}
        <aside class="sidebar flex-grow-0 flex-shrink-0 flex-lg-column justify-content-lg-between align-self-lg- stretch" id="tg-sb-sidebar">
            {% include v2/generic/sidebar.html %}
        </aside>
        {% endunless %}
        <!-- Page Content -->
        <div class="flex-grow-1 flex-shrink-0 d-flex flex-column">
            <main class="{{containerclass}}post flex-grow-1">
            {{content}}
            </main>
            {% include v2/generic/footer.html %}
        </div>
    </div>
</body>
{% if site.google_analytics %}
{% include v2/generic/google_analytics.html %}
{% endif %}

</html>