---
layout: default
---
{% if page.icon %}
<div class="post-header mt-4">
    <div class="d-flex flex-column justify-content-between">
        <div class="d-flex flex-row">
            <div class="col-2">
                <img class="img-fluid" src="{{ page.icon }}" alt="{{ page.title }} icon"/>
            </div>
            <div class="col-10">
                <h1 class="post-title-main">{{ page.title }}</h1>
                {% if page.description %}
                <p>{{ page.description }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="post-header mt-4">
    <h1 class="post-title-main">{{ page.title }}</h1>
</div>
{% endif %}

{% if page.simple_map == true %}

<script>
    $(document).ready(function () {
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready(function () {
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}

<div class="post-content">

    {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
    {% endif %}

    {% unless page.toc == false %}
    {% include toc.html %}
    {% endunless %}

    {{ content | inject_anchors }}

    {% unless page.show_tags == false %}
    <div class="tags">
        {% if page.tags != null %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "tag_" | append: tag }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    {% endunless %}

    {% unless page.show_editme_path == false %}
    <a target="_blank" href="https://github.com/{{site.github_editme_path}}{{page.path}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me</a>
    {% endunless %}

    {% unless page.show_disqus == false %}
    {% include disqus.html %}
    {% endunless %}
</div>

{{site.data.alerts.hr_shaded}}
