<section class="intro">
	<div class="intro-text">
		<p>{{hubdata.text}}</p>
	</div>
</section>
<section class="tables">
	{% for section in hubdata.sections %}
		{% if section.display == true %}
	<div class="py-4">
		<h2 class="section-title">{{section.title}}</h2>
		<table class="hubtable table" id="table-{{section.title | slugify}}">
		  <thead>
		    <tr>
		      <th>Title</th>
		      <th>Excerpt</th>
		      <th>Link</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for  item in section.items %}
		    <tr>
		      <td>{{ item.title }}</td>
		      <td>{{ item.text }}</td>
		      <td><a class="btn btn-primary" href="{{ item.url }}">Go ></a></td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
		{% endif %}
  {% endfor %}
</section>
